@import './variables.scss';

// FONT FAMILY
@font-face {
  font-family: 'hozdide';
  src: url('../../static/fonts/gotham/GothamRoundedBook_21018.ttf')
    format('truetype');
}

// GLOBAL STYLES
* {
  color: $hozdide-grey;
  font-family: 'hozdide';
  font-size: 21px;
  line-height: 14px;
  text-decoration: none;
  letter-spacing: normal;
  outline: medium none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: $hozdide-grey;
  // background-color: $hozdide-red;

  &:before,
  &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $color-beige;
}

header h1 {
  margin: 0;
}

img {
  border: 0;
}

a {
  cursor: pointer;
  color: $hozdide-grey;

  &:hover,
  &:hover path {
    text-decoration: none;
    outline: none;
    color: $hozide-green;
  }

  &:active,
  &:active path {
    color: $color-blue-active;
  }
}

textarea {
  overflow: auto;
  resize: none;

  input,
  & {
    line-height: normal;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
  }
}

p {
  margin: 20px 0;
  padding: 0 20px;
}

// RESPONSIVE COLUMNS
[class*='col-'] {
  /* For mobile phones: */
  width: 100%;
}

@media #{$tablet-view} {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media #{$desktop-view} {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
