// HOZDIDE COLORS
$hozide-green: #06bdbb;
$hozdide-red: #dd1d51;
$hozdide-grey: #333438;

$color-blue-active: #0178b9;
$color-grey-soft: #c3c3c3;
$color-beige: #fcf8f2;

// MEDIA QUERY BREAKPOINTS
$tablet-view: 'only screen and (min-width: 600px)';
$desktop-view: 'only screen and (min-width: 768px)';
