@import '../../styles/variables.scss';

.cover-photo {
  /* background-image: url('./probakep.jpg');
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px; */
  display: flex;
  justify-content: center;
}
