@import '../styles/global.scss';

.container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;

  .hamburger {
    text-align: right;
    .side_menu {
      display: none;
    }

    & input[type='checkbox'] {
      display: none;
      &:checked {
        & ~ .side_menu {
          display: block;
        }
      }
    }
  }
}
