@import '../../styles/variables.scss';

.accordion-section {
  h2 {
    padding: 0 1rem;
  }

  ul {
    list-style: none;
    padding: 0 1rem;
  }
}

.definition-section {
  a {
    display: block;
    background: $hozdide-grey;
    color: $color-beige;
    padding: 1rem;
    transition: opacity 0.6s ease-in;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  article {
    margin: 0;
    line-height: initial;
    overflow: hidden;
    transition: max-height 0.6s ease-in;
  }
}
